*{
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}

html,
body{
    height: 97.5vh;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container{
    display: flex;
    flex-direction: row;
    height: 40vh;
    align-items: center;
    justify-content: center;
    perspective: 90rem;
    perspective-origin: 30% 60%;
    margin: 10px;
}

@media (max-screen: 600px){
    .container{
        flex-direction: column;
    }
}

.div-transform{
    display: flex;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, -0.9)
        scale(1.1) translateX(50px);
}

.card{
    color: #fff;
    border-radius: 8px;
    padding: 0px;
    width: 244px;
    transition: 0.5s ease;
    overflow: hidden;
    transform: translate(0);
}

.card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}

.card h2{
    text-transform: capitalize;
}

.card-1{
    background-size: cover;
    transform: scale(1.02);
    margin-right: 40px;
}
.card-1:hover{
    transform: scale(1.11);
    box-shadow: -7px 4px 28px -3px #b527cf;
}
.card-1::before{
    background: linear-gradient(90deg, #b527cf 0%, #3546f0 100%);
}

.card-2{
    background-size: cover;
    transform:scale(1.01);
    margin-right: 31px;
}
.card-2:hover{
    transform: scale(1.1);
    box-shadow: -7px 4px 28px -3px #3bd9d9;
}

.card-2::before{
    background: linear-gradient(90deg, #3bd9d9 0%, #8035f0 100%);
}

.card-3{
    background-size: cover;
    transform:scale(1.01);
    margin-right: 31px;
}
.card-3:hover{
    transform: scale(1.1);
    box-shadow: -7px 4px 28px -3px #ff9500;
}

.card-3::before{
    background: linear-gradient(90deg, #ff9500 0%, #d5cb0f 100%);
}

.card-4{
    background-size: cover;
    /*transform:scale(1.01);
    margin-right: 31px;*/
}
.card-4:hover{
    transform: scale(1.1);
    box-shadow: -7px 4px 28px -3px #3bd9d9;
}

.card-4::before{
    background: linear-gradient(90deg, #3bd9d9 0%, #022EF2 100%);
}


.footer{
    /*margin: 180px;*/
    padding-block: 1rem;
    background-color: #151823;
    opacity: .6;
    color: #666873;
    font-family: sans-serif;
    
}

.footer_container {
    max-width: 116rem;
    margin: auto;
    padding: 0 1.5rem;
}


.footer_top {
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(20rem 1fr));
    row-gap: 2rem;
}

.footer_title {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 2rem;
}

.footer_list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}


.footer_list-item {
    list-style: none;
}
.footer_list-link {
    text-decoration: none;
    color: inherit;
    transition: color .25s;
}
.footer_list-link:hover {
    color: #fff;
}

.company_info {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-right: 5rem;
}
.company_logo {
    color: #fff;
}
.company_info ul {
    flex-direction: row;
}
.copyright {
    margin-top: auto;
}
@media screen and (min-width: 40em) {
    .company_info {
        grid-column: span 2;
    }
}

/*
footer{
    margin: 450px;
    font-style: italic;
    font-size: bold;
}*/