@charset "UTF-8";

/*
    em HTML é id    = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(130, 39, 214);
}
#principal {
    text-align: center;
    background-color: blueviolet;
    color: white;
}
h2{
    color: rgb(156, 41, 41);
}

.basico {
    color: rgb(12, 73, 27);
}

.intermediario{
    color: rgb(41, 43, 156);
}

.avancado{
    color: rgb(165, 42, 99);
}