@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body, html{
    background-color: #419DFC;
}
header{
    /*background-color: #AD41FC;*/
    background-color: #6D3AE0;
}

header h1{
    /*font-family: 'Michroma', sans-serif;*/
    font-family: 'Inter', sans-serif;
    font-size: 5vh;
    padding: 10px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.568);
}
#burger{
    background-color: #6D3AE0;
    color: white;
    display: block;
    /*text-align: center;*/
    padding: 10px;
    cursor: pointer;
}
/*
#burger:hover{
    background-color: #AD41FC;
    color: black;
}*/
menu{
    display: none;
}
menu ul{
    list-style-type: none;
}
menu a{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #6D3AE0;
    text-align: center;
    color: white;
    border-top: 2px solid white;
}
menu a:hover{
    background-color: #AD41FC;
    
}
main{
    max-width: 90vh;
    min-height: 64.9vh;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
}
article h2{
    padding-bottom: 20px;
}
article p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 10px;
    line-height: 1.5em;
}
footer{
    background-color: #6D3AE0;
    text-align: center;
    
}
footer p{
    padding: 10px;
    color: white;
}
footer a{
    font-family: 'Great Vibes', cursive;
    text-decoration: none;
    color: white;
    font-style: italic;
    font-weight: bold;
}
footer a:hover{
    text-decoration: underline;
}