@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Passion+One:regular,700,900);

@import url(https://fonts.googleapis.com/css?family=Sriracha:regular);

*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
h1{ 
    padding-top: 50px;
    font-size: 100px;
    font-weight: normal;
    font-family: 'Passion one', cursive;
    font-variant: small-caps;
    
    /*text-transform: uppercase;*/
}

header p {
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    font-size: bold;
    color: white;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font: 35px 'Sriracha'
}

.normal{
    background-color: white;
    color: black;
}
.imagem{
    background-color: rgba(0, 0, 0, 0.774);
    color: white;
}

.imagem p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.308);
}



footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

footer > p{
    margin: 0px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

