@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    background-color: black;
    background: url(imagens/foto-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
header{
    /*background-color: rgba(128, 128, 128, 0.514);*/
    margin: auto;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px black;
}
header h1{
    padding: 20px;
    font-size: 7vh;
}
h2{
    font-size: 6vh;
}
main{
    margin: auto;
    text-align: center;
    /*background-color: rgba(245, 245, 220, 0.671);*/
    color: white;
    max-width: 800px;
    
}
main h1{
    padding: 20px;
}
form p{
    padding: 5px;
}