@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@font-face {
    
    font-family: 'jully_julia';
    font-family: 'KLCupid';
    src: url('fonts/jully_julia.otf') format('opentype'), url(fonts/jully_julia.ttf) format('truetype'), url(fonts/KLCupid.ttf) format(truetype);

    font-weight: normal;
    font-style: normal;
}     

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    background-color: black;
    background: url(imagens/foto-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
header{
    /*background-color: rgba(128, 128, 128, 0.514);*/
    background-color: rgba(245, 245, 220, 0.671);
    margin: auto;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px black;
}
header h1{
    padding: 10px;
    font-size: 8vh;
    font-family: 'Great Vibes', cursive;
}
h2{
    font-size: 5vh;
    font-family: 'KLCupid';
    text-shadow: 2px 2px 10px black;
}
main{
    margin: auto;
    text-align: center;
    background-color: rgba(245, 245, 220, 0.671);
    /*color: white;*/
    max-width: 500px;
    margin-top: 45vh;
}
main h1{
    padding: 20px;
}
form p{
    padding: 5px;
}
#submitBtn{
    margin-right: 10px;
}
#result{
    font-size: 1.3em;
    font-weight: bold;
    padding: 5px;
}
footer{
    background-color: rgba(245, 245, 220, 0.671);
    margin: auto;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
footer p{
    font-family: 'KLCupid';
    font-size: 1.5em;
}