*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}
header{
    background-color: #2a2135;
}
header h1{
    text-align: center;
    font-size: 6vh;
    text-align: center;
    padding: 10px;
    color: white;
}
#burger{
    
    color: white;
    display: block;
    /*text-align: center;*/
    padding: 10px;
    cursor: pointer;
}
menu{
    display: none;
}
menu ul{
    list-style-type: none;
}
menu a{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #2a2135;
    text-align: center;
    color: white;
    border-top: 2px solid white;
}
menu a:hover{
    background-color: #4d3d61;
    /*color: black;*/

}
main{
    background-color: #e9edf9;
}

