@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #262626;
    font-family: 'Poppins', sans-serif;
    place-items: center;
    padding: 50px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow: auto;
    resize: horizontal;
}

.card{
    height: 200px;
    background-color: #7effb2;
    border-radius: 9px;
    flex: 1 0 150px;

    display: flex;
    justify-content: center;
    align-items: center;
}
